.resultCardFlipGame-main-container {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #14332e;
}
@media (min-width: 768px) {
}
.resultCardFlipGame-image {
  height: 100px;
  width: 100px;
}
@media (min-width: 768px) {
  .resultCardFlipGame-image {
    height: 130px;
    width: 130px;
  }
}
.resultCardFlipGame-heading {
  font-family: Bree Serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #4ade80;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .resultCardFlipGame-heading {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
.resultCardFlipGame-description {
  font-family: Bree Serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .resultCardFlipGame-description {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.resultCardFlipGame-button {
  font-family: Bree Serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #14332e;
  height: 35px;
  width: 90px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .resultCardFlipGame-button {
    font-size: 18px;
    height: 40px;
    width: 130px;
  }
}
.resultCardFlipGame-flip-count {
  font-family: Bree Serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .resultCardFlipGame-flip-count {
    font-size: 20px;
  }
}
